body {
    background-image:url("https://hdwallsource.com/img/2014/8/light-green-background-31853-32588-hd-wallpapers.jpg");
    background-repeat:no-repeat
}

.landing-box {
    padding-left: 0;
    padding-right: 0;
}

#landing-title {
    /* margin-top: 10vh; */
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 10vh;
    color: #ff0141;
    text-align: center;
    text-shadow:
    -1px -1px 0 #d3d3d3,
    1px -1px 0 #d3d3d3, 
    -1px 1px 0 #d3d3d3,
    1px 1px 0 #d3d3d3;
} 

#landing-div {
    height: 350px;
    margin-top: 20vh;
    background-image: url("https://previews.123rf.com/images/vwalakte/vwalakte1303/vwalakte130300050/18367367-panoramic-view-of-wet-vegetables-on-table-in-garden.jpg");
    /* background-image: url("https://cdn-images-1.medium.com/max/1600/1*DTkbYDqroiSzJ3k5c_x5Zg.jpeg") */
    background-repeat: no-repeat;
    background-size: cover;
}